<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<div id="wrapper">

    {{>sidebar}}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-6">
                        <h1 class="page-header">Registro de citas por médico</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12">
                                    Listado de citas del día por Médico
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form action="">
                                        <div class="row" style="margin-bottom: 80px;">
                                            <div class="col-lg-12">
                                                <label for="Pacientes">Médico</label>
                                                <select name="Medicos" id="Medicos" class="form-control"
                                                    data-live-search="true">
                                                    <optgroup label="Medicos">
                                                        {{#if medicos}}
                                                        {{#each medicos}}

                                                        <option value="{{this.id_Medico}}"
                                                            data-tokens="{{this.Nombres}}">
                                                            {{this.Nombres}} {{this.Apellidos}}</option>

                                                        {{/each}}

                                                        {{/if}}
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-12">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="dailyApts-tab" data-toggle="tab"
                                                href="#dailyApts" role="tab" aria-controls="dailyApts"
                                                aria-selected="true">Citas diarias</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#bydate"
                                                role="tab" aria-controls="profile" aria-selected="false">Citas por
                                                fecha</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="monthApts-tab" data-toggle="tab" href="#monthApts"
                                                role="tab" aria-controls="monthApts" aria-selected="false">Citas por
                                                mes</a>
                                        </li>

                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade" id="dailyApts" role="tabpanel"
                                            aria-labelledby="dailyApts-tab">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table id="citasMedico" class="display"
                                                            style="width:100%; font-size:17px;">
                                                            <thead>
                                                                <tr>
                                                                    <th>Nombres</th>
                                                                    <th>Apellidos</th>
                                                                    <th>Hora asignada</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="citaMedicoBody">

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="monthApts" role="tabpanel"
                                            aria-labelledby="monthApts-tab">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <div class="form-group">
                                                        <label for="monthInput" class="col-2 col-form-label">Selecciona
                                                            el
                                                            mes</label>
                                                        <div class="col-10" style="width: 30%;">
                                                            <input class="form-control" type="month" value="2021-03-24"
                                                                id="monthInput">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table id="citasMedicoMonth" class="display"
                                                            style="width:100%; font-size:17px;">
                                                            <thead>
                                                                <tr>
                                                                    <th>Nombres</th>
                                                                    <th>Apellidos</th>
                                                                    <th>Fecha</th>
                                                                    <th>Hora asignada</th>
                                                                    <th>Estado</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tableMonth">
                                                               
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
    integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    let firstDoctor = $('#Medicos').val()
    $(document).ready(function () {
        let table = $('#citasMedico').DataTable();
        $("#Medicos").select2({
            placeholder: 'Medicos'
        });



        let loadFirstData = async function () {
            

            let appointments = await loadCitasMedico(firstDoctor)

            appointments.forEach(cita => {
                table.row.add([
                    cita.Nombres,
                    cita.Apellidos,
                    cita.Hora

                ]).draw(false)
            })
        }

        loadFirstData()

        $('#Medicos').on('change', async function () {
            let idMedico = this.value;

            table.clear().draw();

            let appointments = await loadCitasMedico(idMedico)

            appointments.forEach(cita => {
                table.row.add([
                    cita.Nombres,
                    cita.Apellidos,
                    cita.Hora

                ]).draw(false)
            })

        })

        function loadCitasMedico(idMedico) {
            let data;

            return new Promise((resolve, reject) => {
                $.ajax({
                    "url": `/api/dailyApts/${idMedico}`,
                    "method": "GET",
                    success: function (response) {
                        data = response
                        resolve(data.appointments)
                    },
                    error: function () {
                        reject([])
                    }
                })
            })

        }

    })
</script>

<script src="/private/medicosCitas/CitasMonth.js"></script>
<script>
        //MonthInput
        let inputMonth = $('#monthInput')
        let tableMonth = document.getElementById('tableMonth')

        let citaRegistro;

        inputMonth.change(async function (e) {
            tableMonth.innerHTML = ``
            //loader.style.display = "flex";

            let { month, year } = returnDate(inputMonth.val())

            citaRegistro = new CitasMonth({"id_Medico":firstDoctor,"month":month,"year":year});
            let response = await citaRegistro.getData()
            citaRegistro.renderTable(response,tableMonth)
        })

        function returnDate(input) {
            let date = new Date(input)
            date.setDate(date.getDate() + 1)

            let day = date.getDate();
            let month = date.getMonth() + 1
            let year = date.getFullYear()

            return { month, year, day }
        }
</script>