<div id="wrapper">
    {{>sidebar}}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-6">
                        <h1 class="page-header">Crear nuevo empleado</h1>
                    </div>
                </div>
            </div>

            <!-- DESDE AQUI -->

        </div>
    </div>
</div>